body{
    margin: auto 0;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    background: url(./assests/background.png);
    background-repeat:no-repeat ;
    background-size: cover;
}

.container{
    margin: 0.2rem;
    padding: 0.5rem;
    /* background: #264653; */
}

h2{
    margin: 0;
    padding: 1rem;
    box-shadow: 2px 3px 5px #2e2d2da6
}
 
#logo{
    display: inline;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    color: #17b794;
    margin: 0;
}
main{
    /* display: grid;
    grid-template-rows: repeat(4,25%);
    grid-template-columns: repeat(auto-fill,minimax(350px,2fr)); */
    grid-gap: 1px;
    height: 100vh;
    margin-top: 4rem;
}

.home{
    position: relative;
    margin: auto;
    background: white;
    box-shadow: 1.5px 1.5px 2px #4140408a;
    width: 90%;
    max-width: 600px;
    border-radius: 12px;
}

.login-nav{
    display: block;
    list-style: none;
    cursor: pointer;
    text-align: center;
    /* border: 0.4px solid #1f1f1f73; */
    width: auto;
    position: relative;
}

.login-nav__item{
    display: inline-block;
    color:white;
    background: rgb(110, 110, 110);
    border-bottom: none;
    margin: 0;
    padding: 1.5rem 4rem 0 4rem;
    border-radius: 10px;
}

.active{
    color: black;
    background: white;
    /* border: 0.4px solid #1f1f1f73; */
    box-shadow: 0px 3.5px 5px #eee;
    border-bottom: 0;
}
#sign-in-page{
    display: flexbox;
    position: relative;
    padding:1.5rem 2rem 2rem 2rem;
    max-width: 600px;
    background: white;
    box-shadow: 2px 3px 5px #2e2d2da6;
    border: 0.01px solid black;
    border-radius: 12px;
}

#sign-up-page{
    display: none;
    background: white;
    box-shadow: 2px 3px 5px #2e2d2da6
    border: 0.01px solid black;
    max-width: 600px;
    border-radius: 12px;
    padding-bottom:5px;
}

#sign-up-page input,
#sign-in-page input{
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid #17b794;
    border-radius: 23px;
    outline: none;
    flex-wrap: wrap;
}


#sign-in-page input:hover{
    border: 2px solid #0d745d !important;
}

#sign-up-page input:hover{
    border: 2px solid #0d745d !important;
}

.btn{
    display: block;
    padding: 2rem;
    background: #17b794;
    border: 2px solid #0d745d;
    color: white;
    margin-bottom: 3px;
}

.btn:hover{
    background: #0d745d;
    border: 2px solid #17b794;
    transform: scale(1.1);
}

@media(min-width:40rem){
    body{
        font-size: 30px;
    }

    .login-nav__item{
        padding: 1.5rem 1rem 0 1.5rem; 
    }

}