*{
    box-sizing: border-box;
    position: relative;
}

body{
    margin: 0;
    padding-top: 10px;
    background-color: #264653;
}
html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

header{
    width: 100%;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafc;
    box-shadow: 1px 1px 2px #e0e0e5;
    padding: 0.5rem 1rem;
}

header h1{
    padding: 0;
    font-size: medium;
    transform: skewX(-4deg);
    text-shadow: 1px 1px 2px #f8f8f9;
}

main{
    width: 100%;
    min-height: calc(100vh - 5rem);
}

.dashboard{
   
    display: flex;
    flex-direction: row;
    width: 95%;    
    color: #fefefe;

    /* border: 1px solid brown; */
}

.dashboard{
    height: 100vh;
}

.dashboard .dashboard-panel{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 25%;
    min-width: 200px;
    background-color: #264653;
    color: #fefefe;
    border-right: 2px solid #16B795;
 
}

.dashboard-panel .panel-heading{
    width: 100%;
    text-align: center;
}
.panel-heading{
    transition: 0.5s;
}

.panel-heading:hover{
    transform: skew(10deg);
}

.dashboard-panel .panel-content{
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

.dashboard-panel .panel-content li{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 1rem 0.8rem;
    border-radius: 2px;
}

.dashboard-panel .panel-content > *:hover{
    background-color: #16B795;
}

.dashboard .dashboard-body{
    width: 75%;
}

.dashboard-body .body-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    padding-right: 1rem;
    color: #f8f8f9;
}

.body-header > button, 
.body-header > div > button,
.body-header > div > div > button

 {
    color: #fefefe;
}


.body-header > div:nth-child(2){
    display: flex;
    flex-direction: row;
}

.body-header > div:nth-child(2) *{
    font-size: 1.4rem;
}

.body-header .user-image{
    align-items: center;
}

.body-header .user-image img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 0.8rem;
    box-shadow: 1px 1px 2px #e0e0e5;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.body-con {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 130px;
        padding-top: 20px;
        margin-bottom: 20px;
}

.pane {
        background-color: #f8f8f9;
        color: goldenrod;
        font-size: 21px;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        text-align: center;
        padding: 15px; 
        border-radius: 10px;

}

.panef{
       grid-column: span 2;
       
}
.pane1{
     border-top-right-radius: 10px !important;
     border-bottom-right-radius: 10px !important;
      border-top-left-radius: 0px !important;
     border-bottom-left-radius: 0px !important;

}
.outcome{
    font-size: 30px;
    color: firebrick;
}

.pane-table{
    background-color: #fff;
    width: 100%;
    height: 300px;
    padding: 15px; 
    border-radius: 10px;
}
/* spacing */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: #264653;
  font-size: 16px;
  background-color: #fff;
  padding: 15px; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  
}


thead th, tfoot th {
    font-family: 'Roboto Slab', serif;
}

th input[type="checkbox"] {
    width:20px;
    height:20px;
    
}

td input[type="checkbox"] {
    width:20px;
    height:20px;
    
}
th:nth-child(1){
    width: 50px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

th, td {
  padding: 20px;
  overflow-wrap: break-word;
}

tr:hover{
    border-top: 1px solid #264653;
    border-bottom: 1px solid #264653;
}


footer{
    position: absolute;
    top: 100%;
}


.cols{
    color: aliceblue;
    padding-left: 17px;
}
.active{
    background-color:#16B795;
}
.create-btn{
    background-color: rgb(35, 156, 130);
    border: none;
    border-radius: 17px;
    margin-right: 10px;
    width: 160px;
}
.search-text{
    border: none;
    height: 30px;
    border-radius: 17px;
}
.search-text:focus{
    outline-color: transparent;
    transform: scale(1.05);
}
/* For mobile devices */
@media only screen and (max-width: 899px){
     .pane3{
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
        }
        .pane4{
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                border-top-left-radius: 10px !important;
                border-bottom-left-radius: 10px !important
        }
}

@media only screen and (max-width: 420px){
     .pane{
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
        }
     
}

@media only screen and (max-width: 1208px){
    .body-con{
        
        grid-template-rows: 130px 130px;
    }
    .pane4{
     border-top-right-radius: 10px !important;
     border-bottom-right-radius: 10px !important;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;

    }
    .dashboard{
        height: 100%;
    }
}
@media only screen and (max-width: 640px){
        .pane3{
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
        }
        .pane4{
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 10px !important;
                border-top-left-radius: 10px ;
                border-bottom-left-radius: 10px 
        }
@media only screen and (max-width: 800px){
    .dashboard{
        position: relative;
        top: unset;
        left: unset;
        transform: unset;
        flex-direction: column;
        width: 100%;
        margin-top: 0.7rem;
    }

    
    .dashboard .dashboard-panel{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
        width: 100%;
    }
    
    .dashboard-panel .panel-heading{
        padding: 0;
        width: auto;
        text-align: center;
    }
    
    .dashboard-panel .panel-content{
        flex-direction: row;
    }
    
    .dashboard-panel .panel-content li{
        font-size: 1.3rem;
        padding: 0.5rem 0.8rem;
        border-radius: 2px;
    }
    
    .dashboard .dashboard-body{
        width: 100%;
        background-color: #264653;
    }

    .body-content .pane{
        margin: 1rem 2%;
        width: 46%;
        height: 180px;
        border-radius: 5px;
        box-shadow: 1px 1px 2px #e0e0e5;
    }
}